@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
         justify-content: center;
    background: white;
    }

    nav a {
        border: none;
        color: black;
    }

    #members.grid-view {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
<<<<<<< HEAD


.home-grid {
    grid-template-columns: 2fr 1fr 1fr;
}

#spotlight-container {
    grid-template-columns: repeat(3, 1fr);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
=======
    
    .home-grid {
    grid-template-columns: 1fr 1fr 1fr;}

footer {
    display: flex;
    justify-content: space-between;}
    
}
>>>>>>> 9814f035b781fe729519086e1ac09306a338dbc3
